{% extends 'base.html.twig' %}

{% block title %}
Sorts - Tables
{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('homepage') }}">Homegape <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ path('americanFootball') }}">American football</a></li>
            <li><a href="{{ path('baseball') }}">Baseball</a></li>
            <li><a href="{{ path('basketball') }}">Basketball</a></li>
            <li><a href="{{ path('iceHockey') }}">Ice hockey</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Sports of this site:</h1>
    <ul>
        <li><a href="{{ path('americanFootball') }}">american football</a></li>
        <li><a href="{{ path('baseball') }}">baseball</a></li>
        <li><a href="{{ path('basketball') }}">basketball</a></li>
        <li><a href="{{ path('iceHockey') }}">ice hockey</a></li>
    </ul>
</div>
{% endblock %}
